
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(44,51,70, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(255,0,0,0.4);
    }
.header-color {
    background: #8CA2DD; /* fallback for old browsers */
    opacity: 0.85;
    font-family: 'Roboto';
    background: -webkit-linear-gradient(to right, #8CA2DD #EEEDE7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA2DD, #EEEDE7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.resume-personal-info{
  text-align: center;

}

.landing-grid {
  background-image: url('./img/blue_bgnd.jpg');
  text-align: center;
  position: fixed;
  font-family: 'Roboto';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.projects-grid {
  display: flex;
}

/* Resume Page css */
.resume-right-col {
    background: #444E74;
    color: white;
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
}

.resume-right-col p {
    font-size: 15px;
}
#landing-title {
    font-size: 4em;
    color: #8CA2DD;
    text-align: center;
    margin-bottom: 0;
}

/* contact page css */

.contact-body {
  width: 100%;
  justify-content: center;
  padding-top: 10em;
}

.center-style{
  justify-content: center;
}

.contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    color: black;
    margin-bottom: 20px;
    margin-top: 5em;
}

.contact-div{
  color:white;
  margin-top: 10em;
}

.contact-grid h2 {
  color:white;
font-family: 'Roboto';
padding-top: 0.75em;

}

.contact-grid p {
font-family: 'Roboto';
  color:white;
  font-weight: bold;
}

.contact-grid hr {
    color: white;
    border-top: 3px solid white;
    width: 80%;
    margin: auto;
}
.contact-grid h4 {
  color:white;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  color:white;
}

.list-content {
  margin: 0;
}


/* contact page css */

.avatar-img {
  height: 350px;
  padding-top: 5em;
}

.avatar-resume-img {
  padding-bottom:0em;
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 90%;
  margin: auto;
  border-radius: 0.25em;
  margin-top:3em;
}

.mdl-textfield {
    margin: -20px 0;
}

@media (max-width: 479px)
.mdl-cell {
    margin: 0px;
    width: calc(100% - 16px);
}

#about-me-text{
  font-size: 40px;
}
#no-margin {
    margin: 0px  ! Important;
}

@media (max-width: 479px)
#no-margin {
    margin: 0px  ! Important;
}

.banner-text h1 {
  font-size: 3em;
  font-weight: bold;
  color: white;
}

.banner-text h2 {
  font-size: 55px;
  padding-top: 0.3em;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
    color: white;
    font-size: 20px;
    padding-top: 0em;
    padding-left: 0.85em;
    padding-right: 0.85em;
}

#bottom_p {
  padding-bottom: 2em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 60em;
  color: white;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.star {
    font-size: x-large;
    width: 50px;
    display: inline-block;
    color: gray;
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content:'\2605';
}
.star.on {
    color: gold;
}
.star.half:after {
    content:'\2605';
    color: gold;
    position: absolute;
    margin-left: -20px;
    width: 10px;
    overflow: hidden;
}
